!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      =I18n.t('action_mailer.friendships.greeting', user: @user_to.username)
    %p
      =I18n.t('action_mailer.friendships.request_created', user_to: @user_to.username, user_from: @user_from.username)
